<div class="delivery" id="delivery">
	<div class="delivery__group">
		<div class="card">
			<div class="card__title">
				На Автобусе
			</div>
			<div class="card__descr card__descr_first">Остановка студенческая. Выход к Бессарабской улице, пешком до остановки
				190 метров.
			</div>
			<div class="card__descr">Автобусы: № 45, 190, 610, 612, 867. Маршрутное такси: 509м и № 556м. </div>
			<div class="card__descr">Необходимо проехать до 5-ой остановки «Улица Ицхака Рабина». Выйдя на остановке,
				вернуться на 20 метров в обратную сторону, до жилого здания, которое находится на возвышенности. </div>
		</div>
		<div class="card">
			<div class="card__title">
				На Троллейбусе
			</div>
			<div class="card__descr card__descr_first">Остановка студенческая. Выход к Бессарабской улице, пешком до остановки
				190 метров.
			</div>
			<div class="card__descr">Автобусы: № 45, 190, 610, 612, 867. Маршрутное такси: 509м и № 556м. </div>
			<div class="card__descr">Необходимо проехать до 5-ой остановки «Улица Ицхака Рабина». Выйдя на остановке,
				вернуться на 20 метров в обратную сторону, до жилого здания, которое находится на возвышенности. </div>
		</div>
		<div class="card">
			<div class="card__title">
				На автомобиле
			</div>
			<div class="card__descr card__descr_first">Необходимо проехать до 5-ой остановки «Улица Ицхака Рабина». Выйдя на
				остановке, вернуться на 20 метров в обратную сторону, до жилого здания, которое находится на возвышенности.
				Необходимо проехать до 5-ой остановки «Улица Ицхака Рабина». Выйдя на остановке, вернуться на 20 метров в
				обратную сторону, до жилого здания, которое находится на возвышенности.
				Необходимо проехать до 5-ой остановки «Улица Ицхака Рабина». Выйдя на остановке, вернуться на 20 метров в
				обратную сторону.
			</div>
		</div>
	</div>
</div>