html,
body {
  height: 100%;
}

.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  overflow-x: hidden;
}

.main {
  flex: 1 0 auto;
  height: calc(100vh - 97px);
  overflow-x: hidden;
  overflow-y: auto;

  @include screen-xl {
    height: calc(100vh - 68px);
  }
}

.footer {
  flex: 0 0 auto;
}

.sidebar-container {
  max-width: 1920px;
  width: 100%;
  margin: 0 auto;
  min-height: 100%;
  display: flex;
  position: relative;

  @include screen-xxl {
    display: block;
  }
}

.container {
  max-width: 1142px;
  width: 100%;
  margin: 0 auto;
  padding: 0 15px;
}

body._lock {
  overflow: hidden;
}

body {
  font-family: 'Manrope';
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: $color-text-2;
}


// Заголовки
.h2-title {
  font-weight: 700;
  font-size: 48px;
  line-height: 56px;
  color: $color-text-1;
  // @include adaptiveValue('font-size', 48, );
  // @include adaptiveValue('line-height', 56, );
}

// Стилі для назви вулиць та районів
%street {
  color: $color-text-1;
  font-family: 'Manrope';
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
}

%area {
  color: $color-text-2;
  font-family: 'Manrope';
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
}

// Ховер-стилі для посилань
%link-hover {
  transition: all 0.3s ease-in-out;

  &:hover {
    color: $color-text-hover;
  }
}

// Хлебные крошки
.path {
  display: flex;
  align-items: center;

  &__main {
    font-size: 14px;
    font-family: 'Manrope';
    line-height: 20px;
    color: $color-text-3;

    transition: all 0.2s;

    &:hover {
      color: $color-text-hover;
    }
  }

  &__arrow {
    margin: 0 8px;
    display: flex;
    align-items: center;
  }

  &__this {
    font-size: 14px;
    font-family: 'Manrope';
    line-height: 20px;
    color: $color-text-4;
  }
}