//<COLORS>========================================
$color-main: #000000;
$color-white: #ffffff;
//</COLORS>========================================

//<FONTS>========================================

// $fontFamily: ;
// $fontSize: ;

//</FONTS>========================================

//<SCREENS>========================================
$screen-s: 359px;
$screen-m: 640px;
$screen-l: 767px;
$screen-xl: 1080px;
$screen-xxl: 1600px;
//</SCREENS>========================================
