//<COLORS>========================================
$color-main: #000000;
$color-white: #ffffff;
$color-red: #e31351;
$color-red-light: #f72056;

//background
$lightgreen: #e8fafa;
$lightgreen2: #f5fbfc;
$green: #1DC3B0;
$color-bg-gradient: linear-gradient(90deg, #e8fafa 0%, #dcf2e8 100%);
//text
$color-text-1: #292d33;
$color-text-2: #51555a;
$color-text-3: #797c80;
$color-text-4: #bfbfbf;
$color-text-hover: #1dc3b0;
$color-text-hover-light: #2bd9bc;
//other
$color-border: #cfdfe5;
$color-border-dark: #059e8c;

//</COLORS>========================================

//<FONTS>========================================

// $fontFamily: ;
// $fontSize: ;

//</FONTS>========================================

//<SCREENS>========================================
$screen-s: 375px;
$screen-m: 640px;
$screen-l: 767px;
$screen-xl: 1080px;
$screen-xxl: 1620px;
//</SCREENS>========================================
