//<COLORS>========================================
$color-main: #000000;
$color-white: #ffffff;

$red: #E31351;

//background
$lightgreen: #E8FAFA;
$lightgreen2: #F5FBFC;
//text
$--text-1: #292D33;
$--text-2: #51555A;

$--text-4: #BFBFBF;

//</COLORS>========================================

//<FONTS>========================================

// $fontFamily: ;
// $fontSize: ;

//</FONTS>========================================

//<SCREENS>========================================
$screen-s: 359px;
$screen-m: 640px;
$screen-l: 767px;
$screen-xl: 1080px;
$screen-xxl: 1600px;
//</SCREENS>========================================
