.review {
  padding: 64px 0 128px;
  &__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 25px;

    @include screen-m {
      align-items: flex-start;
      flex-direction: column;
    }
  }

  &__title {
    font-size: 26px;
    line-height: 36px;
    color: $color-text-1;
  }

  &__btn {
    width: 174px;

    @media (max-width: 425px) {
      width: 100%;
    }
  }

  &__group {
    margin-top: 40px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 40px;
  }
}
