<div class="review">
	<div class="review__wrapper">
		<div class="review__title">
			Будем рады вашим отзывам — опубликуем все без исключения
		</div>
		<div class="review__btn btn btn_green">
			Оставить отзыв
		</div>
	</div>
	<div class="review__group">
		<div class="feedback">
			<div class="feedback__name">
				Альбина
			</div>
			<div class="feedback__text">
				Добрый день! Хотелось бы оставить отзыв о враче Малицкой Валерии! Долго искали врача и клинику для кастрации
				нашего шпицули крипторха! Очень сложно довериться и найти того самого врача,но увидев Валерию произошла так
				сказать любовь с первого взгляда))! Доверившись первым впечатлениям мы ни чуть не пожалели! Все прошло хорошо!
				Добрая, отзывчивая и чуткая врач...
			</div>
			<div class="feedback__wrapper">
				<div class="feedback__date">
					13.05.2020
				</div>
				<div class="feedback__btn">
					Читать полностью
					<svg width="19" height="10" viewBox="0 0 19 10" fill="none" xmlns="http://www.w3.org/2000/svg">
						<path
							d="M-1.74845e-07 5L17 5M17 5C15.3146 3.85714 12.7865 1 12.7865 1M17 5C15.3146 6.14286 12.7865 9 12.7865 9"
							stroke="#1DC4B0" stroke-width="2" />
					</svg>

				</div>
			</div>
		</div>
		<div class="feedback feedback_small">
			<div class="feedback__name">
				Потап
			</div>
			<div class="feedback__text">
				Хочу выразить благодарность, доктору Ванюковой Олесе Игоревне. Которая является высококлассным специалистом,
				с ответственностью подходит...
			</div>
			<div class="feedback__wrapper">
				<div class="feedback__date">
					10.04.2020
				</div>
				<div class="feedback__btn">
					Читать полностью
					<svg width="19" height="10" viewBox="0 0 19 10" fill="none" xmlns="http://www.w3.org/2000/svg">
						<path
							d="M-1.74845e-07 5L17 5M17 5C15.3146 3.85714 12.7865 1 12.7865 1M17 5C15.3146 6.14286 12.7865 9 12.7865 9"
							stroke="#1DC4B0" stroke-width="2" />
					</svg>

				</div>
			</div>
		</div>
		<div class="feedback feedback_small">
			<div class="feedback__name">
				Кыця
			</div>
			<div class="feedback__text">
				Я очень благодарна персоналу
				и Докторам клиники ВетКэт Строгино. Огромное спасибо за профессионализм, человеческое отношение и отличное
				лечение...
			</div>
			<div class="feedback__wrapper">
				<div class="feedback__date">
					7.04.2020
				</div>
				<div class="feedback__btn">
					Читать полностью
					<svg width="19" height="10" viewBox="0 0 19 10" fill="none" xmlns="http://www.w3.org/2000/svg">
						<path
							d="M-1.74845e-07 5L17 5M17 5C15.3146 3.85714 12.7865 1 12.7865 1M17 5C15.3146 6.14286 12.7865 9 12.7865 9"
							stroke="#1DC4B0" stroke-width="2" />
					</svg>

				</div>
			</div>
		</div>
		<div class="feedback">
			<div class="feedback__name">
				Просковья Григорьевна
			</div>
			<div class="feedback__text">
				Хочу выразить огромную благодарность сотрудникам клиники за то, что подняли моего йорка на ноги. Собаку укусил
				клещ, она уже не еле ходила, ничего не ела. Диагноз - пироплазмоз. Назначили капельницы. Буквально на следующий
				день Кевину стало лучше. И с каждым днем все лучше и лучше! Сегодня получили анализы крови - все отлично!
				Спасибо огромное!
			</div>
			<div class="feedback__wrapper">
				<div class="feedback__date">
					15.03.2020
				</div>
				<div class="feedback__btn">
					Читать полностью
					<svg width="19" height="10" viewBox="0 0 19 10" fill="none" xmlns="http://www.w3.org/2000/svg">
						<path
							d="M-1.74845e-07 5L17 5M17 5C15.3146 3.85714 12.7865 1 12.7865 1M17 5C15.3146 6.14286 12.7865 9 12.7865 9"
							stroke="#1DC4B0" stroke-width="2" />
					</svg>

				</div>
			</div>
		</div>
	</div>
</div>
<div class="review-modal">
	<div class="review-modal__wrapper">
		<div class="review-modal__close">
			<svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
				<path d="M4 4L20 20M4 20L20 4" stroke-width="2" />
			</svg>
		</div>
		<div class="review-modal__title">
			Альбина
		</div>
		<div class="review-modal__text">
			Добрый день! Хотелось бы оставить отзыв о враче Малицкой Валерии! Долго искали врача и клинику для кастрации нашего шпицули крипторха! Очень сложно довериться и найти того самого врача,но увидев Валерию произошла так сказать любовь с первого взгляда))! Доверившись первым впечатлениям мы ни чуть не пожалели! Все прошло хорошо! Добрая, отзывчивая и чуткая врач
			Добрый день! Хотелось бы оставить отзыв о враче Малицкой Валерии! Долго искали врача и клинику для кастрации нашего шпицули крипторха! Очень сложно довериться и найти того самого врача,но увидев Валерию произошла так сказать любовь с первого взгляда))! Доверившись первым впечатлениям мы ни чуть не пожалели! Все прошло хорошо! Добрая, отзывчивая и чуткая врач...
			Добрый день! Хотелось бы оставить отзыв о враче Малицкой Валерии! Долго искали врача и клинику для кастрации нашего шпицули крипторха! Очень сложно довериться и найти того самого врача,но увидев Валерию произошла так сказать любовь с первого взгляда))! Доверившись первым впечатлениям мы ни чуть не пожалели! Все прошло хорошо! Добрая, отзывчивая и чуткая врач...
			Добрый день! Хотелось бы оставить отзыв о враче Малицкой Валерии! Долго искали врача и клинику для кастрации нашего шпицули крипторха! Очень сложно довериться и найти того самого врача,но увидев Валерию произошла так сказать любовь с первого взгляда))! Доверившись первым впечатлениям мы ни чуть не пожалели! Все прошло хорошо! Добрая, отзывчивая и чуткая врач...
			Добрый день! Хотелось бы оставить отзыв о враче Малицкой Валерии! Долго искали врача и клинику для кастрации нашего шпицули крипторха! Очень сложно довериться и найти того самого врача,но увидев Валерию произошла так сказать любовь с первого взгляда))! Доверившись первым впечатлениям мы ни чуть не пожалели! Все прошло хорошо! Добрая, отзывчивая и чуткая врач...
		</div>
	</div>
</div>