.about-us {
  &__header {
    padding-top: 57px;
    padding-bottom: 24px;

    background: $color-bg-gradient;
  }

  &__title {
    margin-top: 5px;

    @include adaptiveValue('font-size', 48, 32);
    font-family: 'Manrope';
    font-weight: 700;
    line-height: 56px;
    color: $color-text-1;
  }

  &__toggle {
    margin-top: 46px;
    div {
      @include adaptiveValue('font-size', 16, 13);
      @include adaptiveValue('padding-left', 20, 10);
      @include adaptiveValue('padding-right', 20, 10);
    }
  }

  &__body {
    background: $lightgreen2;
  }

  @import '../_components/about-us/our-mission';
  @import '../_components/about-us/gallery';
}
