.contacts {
  padding: 57px 0 112px;

  &__title {
    margin-top: 6px;

    @include adaptiveValue('font-size', 48, 32);
    @include adaptiveValue('line-height', 56, 42);
    font-family: 'Manrope';
    font-weight: 700;
    color: $color-text-1;
  }

  @import '../_components/contacts/info';
  @import '../_components/contacts/delivery';
}
