.services {
  padding: 55px 0 162px;
  display: flex;
  justify-content: center;

  @include screen-l {
    padding-top: 25px;
  }

  &__title {
    margin-top: 6px;

    @include adaptiveValue('font-size', 48, 32);
    font-family: 'Manrope';
    font-weight: 700;
    line-height: 56px;
    color: $color-text-1;
  }

  &__info {
    margin-top: 46px;

    display: flex;
    gap: 40px;

    @include screen-l {
      flex-direction: column;
    }
  }

  &__container1 {
    max-width: 824px;
    width: 100%;
  }

  &__img {
  }

  &__descr {
    margin-top: 36px;

    @include adaptiveValue('font-size', 26, 18);
    font-family: 'Manrope';
    line-height: 36px;
    color: $color-text-1;
  }

  &__text {
    margin-top: 20px;
    font-size: 17px;
    font-family: 'Manrope';
    line-height: 28px;
    color: $color-text-1;
  }

  &__subtitle {
    margin-top: 44px;
    @include adaptiveValue('font-size', 30, 25);
    font-family: 'Manrope';
    font-weight: 700;
    line-height: 35px;
    color: $color-text-1;
  }

  &__list {
    margin-top: 22px;
    padding-left: 24px;

    @include screen-m {
      padding-left: 0;
    }
  }

  &__list-item {
    padding-left: 17px;
    font-size: 17px;
    font-family: 'Manrope';
    line-height: 28px;
    color: $color-text-1;
    &::before {
      content: '';
      width: 11px;
      height: 1px;
      background: $color-text-1;
      position: absolute;
      top: 14px;
      left: 0;
    }
  }

  &__container2 {
    max-width: 218px;
    width: 100%;

    @media (max-width: 475px) {
      max-width: 100%;
    }
  }

  &__wrapper {
    display: flex;
    flex-direction: column;
    gap: 16px;

    position: sticky;
    top: 15px;
  }

  &__btn {
    width: 100%;
    height: 48px;

    display: flex;
    align-items: center;
    justify-content: center;

    background: $color-text-hover;
    border-radius: 16px;

    font-size: 16px;
    font-family: 'Manrope';
    font-weight: 700;
    line-height: 24px;
    color: $color-white;

    cursor: pointer;
    transition: all 0.2s;

    &:hover {
      background: $color-text-hover-light;
    }
  }

  &__link {
    width: 100%;
    height: 48px;

    display: flex;
    align-items: center;
    justify-content: center;

    border: 2px solid $color-text-hover;
    border-radius: 16px;

    font-size: 16px;
    font-family: 'Manrope';
    font-weight: 700;
    line-height: 24px;
    color: $color-main;

    transition: all 0.2s;

    &:hover {
      color: $color-text-hover-light;
      border-color: $color-text-hover-light;
    }
  }

  &__price {
    margin-top: 65px;
    display: flex;
    gap: 40px;

    @include screen-l {
      flex-direction: column;
    }
  }

  &__card {
    padding: 35px 56px 55px;
    max-width: 536px;
    width: 100%;

    background: $color-bg-gradient;
    border-radius: 8px;

    @include screen-l {
      padding: 35px;
      max-width: 100%;
    }
  }

  &__card-title {
    @include adaptiveValue('font-size', 30, 25);
    font-family: 'Manrope';
    font-weight: 700;
    line-height: 35px;
    color: $color-text-1;
  }

  &__card-subtitle {
    margin-top: 7px;

    font-size: 14px;
    font-family: 'Manrope';
    line-height: 20px;
    color: $color-text-2;
  }

  &__card-list {
    margin-top: 19px;
    padding-top: 12px;

    display: flex;
    flex-direction: column;
    gap: 12px;

    border-top: 1px solid $color-border;
  }

  &__card-item {
    display: flex;
    justify-content: space-between;

    @include screen-l {
      gap: 20px;
    }
  }
  &__card-text {
    max-width: 344px;
  }
  &__card-text,
  &__card-price {
    @include adaptiveValue('font-size', 17, 12);
    font-family: 'Manrope';
    line-height: 24px;
    color: $color-text-1;
  }

  &__price-text {
    margin-top: 36px;
    max-width: 536px;
    width: 100%;

    font-size: 26px;
    font-family: 'Manrope';
    line-height: 36px;
    color: $color-text-hover;

    @include screen-l {
      margin-top: 0;
      max-width: 100%;
    }
  }
}
