.services {
  padding: 55px 0 162px;
  display: flex;
  justify-content: center;

  @include screen-l {
    padding-top: 25px;
  }

  &__title {
    margin-top: 6px;

    @include adaptiveValue('font-size', 48, 32);
    font-family: 'Manrope';
    font-weight: 700;
    line-height: 56px;
    color: $color-text-1;
  }

  &__toggle {
    width: 234.484px;
  }

  @import '../_components/services/info';
  @import '../_components/services/price';
  @import '../_components/services/specialist';
  @import '../_components/specialistSwiper';
}
