<div class="galleryCard">
	<div class="galleryCard__img">
		<img src="@img/gallery/@@imgName.jpg" alt="galleryCard" loading="lazy">
	</div>
	<div class="galleryCard__wrapper">
		<div class="galleryCard__title">
			@@title
		</div>
		@@if(place != '') {
		@@include('./galleryCard/place.html', {"place":"@@place"})
		}
		<a href="#" class="galleryCard__more">
			Смотреть
			<svg width="19" height="10" viewBox="0 0 19 10" fill="none" xmlns="http://www.w3.org/2000/svg">
				<path d="M-1.74845e-07 5L17 5M17 5C15.3146 3.85714 12.7865 1 12.7865 1M17 5C15.3146 6.14286 12.7865 9 12.7865 9"
					stroke="#1DC4B0" stroke-width="2" />
			</svg>
		</a>
	</div>
</div>