<div class="specialistCard">
	<div class="specialistCard__img">
		<img src="@img/specialistCardImg/@@imgName.png" alt="doctor">
		<div class="specialistCard__hover">
			<div class="specialistCard__reception">
				Ближайшие
				приемы
			</div>
			<div class="specialistCard__date">24 мая <br>
				сутки, c 10:00</div>
			<div class="specialistCard__date">28 мая <br>
				12:00-18:00</div>
		</div>
	</div>
	<div class="specialistCard__wrapper">
		<div class="specialistCard__name">
			@@name
		</div>
		<div class="specialistCard__job">
			@@job
		</div>
	</div>
</div>