<div class="services__info">
	<div class="services__container1">
		<div class="services__img">
			<img src="@img/services/cat.jpg" alt="cat">
		</div>
		<div class="services__descr">
			Одна из самых важных областей ветеринарии, так как большинство домашних животных подвержены целому спектру
			кожных заболеваний
		</div>
		<div class="services__text">
			Дерматология занимается вопросами здоровья кожи, когтей, шерсти, аллергических реакций, паразитарных поражений
			и т.п. Состояние кожи, шерсти и когтей является важным индикатором здоровья для животных, и потому
			пренебрегать визитами к дерматологу не стоит.
		</div>
		<div class="services__subtitle">
			Причины кожных заболеваний у животных
		</div>
		<div class="services__text">
			Ветеринарная дерматология кошек, собак, грызунов и других домашних питомцев, позволяет диагностировать и
			лечить различные кожные заболевания. К болезням кожи у животных и, как следствие, к появлению неприятных
			симптомов приводят несколько причин:
		</div>
		<div class="services__list">
			<div class="services__list-item">наследственная предрасположенность;</div>
			<div class="services__list-item">аллергические реакции — бытовая химия, корм, лекарства;</div>
			<div class="services__list-item">паразиты — блохи, вши, клещи;</div>
			<div class="services__list-item">поражение бактериями или грибками — лишай;</div>
			<div class="services__list-item">нарушение обмена веществ или внутренних процессов в организме.</div>
		</div>
		<div class="services__text">
			Кожные заболевания могут быть связаны с множеством различных факторов, поэтому для каждого из них существует
			свой метод лечения. Грамотно подобрать его с учетом результатов анализов, диагностики и профессионального
			осмотра, сможет только квалифицированный дерматолог.
		</div>
		<div class="services__subtitle">
			Признаки кожных заболеваний
		</div>
		<div class="services__text">
			Дерматология собак, кошек и других домашних питомцев выделяет различные проявления проблем с кожей, которые
			зачастую можно заметить при визуальном осмотре своего питомца. Самые распространенные симптомы, на которые
			обязательно обратить внимание:
		</div>
		<div class="services__list">
			<div class="services__list-item">зуд и расчесывание;</div>
			<div class="services__list-item">облысение отдельных участков тела;</div>
			<div class="services__list-item">покраснения, высыпания, изменение цвета кожи;</div>
			<div class="services__list-item">появления неприятного запаха;</div>
			<div class="services__list-item">беспокойство, апатия, повышение температуры тела.</div>
		</div>
		<div class="services__text">
			При выявлении этих симптомов не стоит откладывать обращение к специалисту, поскольку процесс протекания
			заболевания может стать более тяжелым. Кроме того, некоторые виды заболеваний опасны для людей, поэтому
			необходимо своевременно исключить риск заражения.
		</div>
		<div class="services__subtitle">
			Диагностика дерматологических болезней
		</div>
		<div class="services__text">
			Перед выбором препаратов и назначением лечения ветеринар-дерматолог в Москве проведет внешний осмотр, забор
			необходимых анализов и определит необходимость диагностики с помощью специального оборудования.
		</div>
		<div class="services__text">
			В нашей клинике доступен широкий спектр обследований и анализов, результаты которых мы получаем из собственной
			лаборатории. Сюда входит исследование крови, мазки, соскобы, посевы, проверка пораженных участков на
			цитолоцию.
		</div>
	</div>
	<div class="services__container2">
		<div class="services__wrapper">
			<div class="btn btn_green services__btn">
				Записаться на прием
			</div>
			<a href="#" class="btn btn_outer services__link">
				Посмотреть цены
			</a>
		</div>
	</div>
</div>