<div class="services__price">
	<div class="card">
		<div class="card__title">
			Услуги и стоимость
		</div>
		<div class="card__subtitle">
			Цены указаны в российских рублях за одну процедуру/сеанс
			для одного животного
		</div>
		<div class="card__list">
			<div class="card__item">
				<div class="card__text">Первичный прием дерматолога (осмотр, постановка предварительного диагноза, назначение лечения)</div>
				<div class="card__price">1300</div>
			</div>
			<div class="card__item">
				<div class="card__text">Повторный прием дерматолога</div>
				<div class="card__price">550</div>
			</div>
			<div class="card__item">
				<div class="card__text">Консультация дерматолога <br>
					по результатам исследований</div>
				<div class="card__price">800</div>
			</div>
			<div class="card__item">
				<div class="card__text">Отоскопия на оба уха</div>
				<div class="card__price">680</div>
			</div>
			<div class="card__item">
				<div class="card__text">Посев на дерматофиты</div>
				<div class="card__price">400</div>
			</div>
			<div class="card__item">
				<div class="card__text">Трихоскопия</div>
				<div class="card__price">1100</div>
			</div>
			<div class="card__item">
				<div class="card__text">Цитологическое исследование из НСП</div>
				<div class="card__price">900</div>
			</div>
			<div class="card__item">
				<div class="card__text">Цитологическое исследование <br> мазка-отпечатка с кожи</div>
				<div class="card__price">550</div>
			</div>
			<div class="card__item">
				<div class="card__text">Исследование на эктопаразиты и дерматофиты </div>
				<div class="card__price">580</div>
			</div>
			<div class="card__item">
				<div class="card__text">Цитоскрининг</div>
				<div class="card__price">400</div>
			</div>
		</div>
	</div>
	<div class="services__price-text">
		Если вы что-то не нашли или хотите уточнить конечную стоимость услуги, смело звоните нам.
	</div>
</div>