.galleryCard {
  width: min(100%, 536px);
  height: min(100%, 264px);
  display: flex;

  border-radius: 8px;
  background: $color-white;
  box-shadow: 0px 4px 20px 0px rgba(26, 57, 63, 0.1);

  overflow: hidden;

  cursor: pointer;

  position: relative;

  @media (max-width: 475px) {
    width: 100%;
    flex-direction: column;
    height: auto;
  }

  &:hover {
    .galleryCard__title {
      color: $color-text-hover;
    }
    .galleryCard__place {
      color: $color-text-hover;
      svg {
        fill: $color-text-hover;
      }
    }
    .galleryCard__more {
      opacity: 1;
    }
  }

  &__img {
    width: 49%;

    @media (max-width: 475px) {
      width: 100%;
    }
  }

  &__wrapper {
    padding: 28px 24px 0;
    width: 50%;

    @media (max-width: 475px) {
      width: 100%;
      height: 200px;
    }
  }

  &__title {
    @include adaptiveValue('font-size', 20, 16);
    font-family: 'Manrope';
    font-weight: 700;
    line-height: 24px;
    color: $color-text-1;

    transition: all 0.2s;
  }

  &__place {
    margin-top: 10px;
    display: flex;
    align-items: center;

    font-size: 14px;
    font-family: 'Manrope';
    line-height: 20px;

    transition: all 0.2s;

    svg {
      margin-right: 4px;
      fill: rgba(54, 75, 118, 1);
      transition: all 0.2s;
    }
  }

  &__more {
    font-size: 14px;
    font-family: 'Manrope';
    font-weight: 700;
    line-height: 24px;
    position: absolute;
    right: 32px;
    bottom: 25px;
    color: $color-text-hover;

    transition: all 0.2s;
    opacity: 0;

    svg {
      margin-left: 8px;
    }
  }
}
