.specialist {
  &__slider {
    position: relative;
    margin-top: 44px;
  }
  &__swiper {
  }

  &__swiper-wrapper {
    display: flex;
  }

  &__slide {
    width: 344px;

    @include screen-s {
      width: 290px;
    }
  }

  &__swiper-prev,
  &__swiper-next {
    &::after {
      display: none;
    }

    svg {
      fill: $color-text-1;
      transition: all 0.2s;
    }

    &:hover {
      svg {
        fill: $color-text-hover;
      }
    }

    @media (max-width: 1215px) {
      display: none;
    }
  }
  &__swiper-prev {
    left: -38px;
  }
  &__swiper-next {
    right: -38px;
  }
}

.swiper {
}
.swiper-wrapper {
}
.swiper-slide {
}
.swiper-button-prev {
}
.swiper-button-next {
}
