.profile {
  padding: 75px 0 96px;

  &__wrapper1 {
    display: flex;
    justify-content: space-between;

    @media (max-width: 1215px) {
      align-items: center;
      flex-direction: column;
      gap: 25px;
    }
  }

  &__place {
    height: 35px;

    display: flex;
    align-items: center;

    font-size: 30px;
    font-weight: 700;
    line-height: 35px;
    color: $color-text-1;
    svg {
      margin-right: 4px;
    }
  }

  &__timetable {
  }

  &__slider {
    padding-bottom: 13px;

    border-bottom: 1px solid $color-border;

    position: relative;
  }

  &__swiper {
    width: 768px;

    overflow: hidden;
    @media (max-width: 869px) {
      width: 560px;
    }

    @media (max-width: 662px) {
      width: 336px;
    }

    @media (max-width: 425px) {
      width: 223px;
    }

    &_second {
      margin-top: 22px;
    }
  }

  &__swiper-wrapper {
    width: auto;
    display: flex;
    gap: 16px;

    transition: all 0.2s;
  }

  &__date {
    width: 96px;
    span {
      display: block;
      &:first-child {
        font-size: 17px;
        font-weight: 700;
        line-height: 20px;
        color: $color-text-1;
      }
      &:last-child {
        margin-top: 6px;
        font-size: 14px;
        line-height: 20px;
        color: $color-text-3;
      }
    }

    &_weekend {
      span {
        &:first-child {
          color: $color-red;
        }
      }
    }
  }

  &__time {
    width: 96px;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: -0.8px;
    color: $color-text-1;
  }

  &__btn-prev,
  &__btn-next {
    display: none;

    &_show {
      display: block;
    }

    position: absolute;
    top: 32%;
    transform: translateY(-50%);

    cursor: pointer;

    svg {
      fill: $color-text-1;
      transition: all 0.2s;

      &:hover {
        fill: $color-text-hover;
      }
    }
  }

  &__btn-next {
    right: -40px;
  }

  &__btn-prev {
    right: 792px;

    @media (max-width: 1200px) {
      right: auto;
      left: -56px;
    }

    @media (max-width: 1024px) {
      left: -40px;
    }
  }

  &__wrapper2 {
    margin-top: 106px;
    display: flex;
    flex-wrap: wrap;
    gap: 40px;

    @media (max-width: 1141px) {
      justify-content: center;
    }
  }

  &__card {
    padding: 35px 56px 55px;
    max-width: 536px;
    width: 100%;
    height: auto;

    background: $color-bg-gradient;
    border-radius: 8px;

    &:first-child {
      height: 624px;
    }

    @include screen-l {
      padding: 35px;
      max-width: 100%;
    }

    @media (max-width: 425px) {
      padding: 15px;
    }
  }

  &__card-title {
    @include adaptiveValue('font-size', 30, 25);
    font-family: 'Manrope';
    font-weight: 700;
    line-height: 35px;
    color: $color-text-1;
  }

  &__card-subtitle {
    margin-top: 24px;
    font-size: 17px;
    font-weight: 700;
    line-height: 20px;
    color: $color-text-1;
  }

  &__card-list {
    margin-top: 15px;

    display: flex;
    flex-direction: column;
    gap: 12px;

    &_second {
      margin-top: 23px;
    }
  }

  &__card-item {
    display: flex;
    justify-content: space-between;

    @media (max-width: 524px) {
      justify-content: flex-start;
      gap: 20px;
    }
  }

  &__card-list-item {
    padding-left: 16px;

    @include adaptiveValue('font-size', 17, 12);
    line-height: 24px;
    color: $color-text-1;

    position: relative;

    &::before {
      content: '';
      width: 6px;
      height: 6px;
      background: $color-text-hover;
      position: absolute;
      top: 11px;
      left: 0;
    }
  }

  &__card-year,
  &__card-descr {
    @include adaptiveValue('font-size', 17, 12);
    line-height: 24px;
    color: $color-text-1;
  }
  &__card-year {
    width: 44px;

    @media (max-width: 524px) {
      width: 28px;
    }
  }
  &__card-descr {
    width: 364px;

    @media (max-width: 524px) {
      width: auto;
    }
  }
}
