<div class="cost-services__box color-box mix service-6">
   <h5 class="cost-services__naming">Дерматология</h5>
   <p class="cost-services__text">Цены указаны в украинских гривнах за одну процедуру/сеанс для одного животного</p>
   <div class="cost-services__holder">
      <div class="cost-services__wrap">
         <ul class="cost-services__list">
            <li class="cost-services__item">
               <span class="cost-services__item-name">Первичный прием дерматолога (осмотр, постановка предварительного диагноза, назначение лечения)</span>
               <span class="cost-services__item-price">1300</span>
            </li>
            <li class="cost-services__item">
               <span class="cost-services__item-name">Повторный прием дерматолога</span>
               <span class="cost-services__item-price">550</span>
            </li>
            <li class="cost-services__item">
               <span class="cost-services__item-name">Консультация дерматолога по результатам исследований</span>
               <span class="cost-services__item-price">800</span>
            </li>
            <li class="cost-services__item">
               <span class="cost-services__item-name">Отоскопия на оба уха</span>
               <span class="cost-services__item-price">680</span>
            </li>
            <li class="cost-services__item">
               <span class="cost-services__item-name">Посев на дерматофиты</span>
               <span class="cost-services__item-price">400</span>
            </li>
            <li class="cost-services__item">
               <span class="cost-services__item-name">Трихоскопия</span>
               <span class="cost-services__item-price">1100</span>
            </li>
            <li class="cost-services__item">
               <span class="cost-services__item-name">Цитологическое исследование из НСП</span>
               <span class="cost-services__item-price">900</span>
            </li>
            <li class="cost-services__item">
               <span class="cost-services__item-name">Цитологическое исследование мазка-отпечатка с кожи</span>
               <span class="cost-services__item-price">550</span>
            </li>
            <li class="cost-services__item">
               <span class="cost-services__item-name">Исследование на эктопаразиты и дерматофиты </span>
               <span class="cost-services__item-price">580</span>
            </li>
            <li class="cost-services__item">
               <span class="cost-services__item-name">Цитоскрининг</span>
               <span class="cost-services__item-price">400</span>
            </li>
         </ul>
      </div>
   </div>
</div>