<div class="cost-services__box color-box mix @@class">
   <h5 class="cost-services__naming">Lorem ipsum dolor</h5>
   <p class="cost-services__text">Цены указаны в украинских гривнах за одну процедуру/сеанс для одного животного</p>
   <div class="cost-services__holder">
      <div class="cost-services__wrap">
         <ul class="cost-services__list">
            <li class="cost-services__item">
               <span class="cost-services__item-name">Lorem ipsum dolo</span>
               <span class="cost-services__item-price">000</span>
            </li>
            <li class="cost-services__item">
               <span class="cost-services__item-name">Lorem ipsum dolo</span>
               <span class="cost-services__item-price">000</span>
            </li>
            <li class="cost-services__item">
               <span class="cost-services__item-name">Lorem ipsum dolo</span>
               <span class="cost-services__item-price">000</span>
            </li>
            <li class="cost-services__item">
               <span class="cost-services__item-name">Lorem ipsum dolo</span>
               <span class="cost-services__item-price">000</span>
            </li>
            <li class="cost-services__item">
               <span class="cost-services__item-name">Lorem ipsum dolo</span>
               <span class="cost-services__item-price">000</span>
            </li>
            <li class="cost-services__item">
               <span class="cost-services__item-name">Lorem ipsum dolo</span>
               <span class="cost-services__item-price">000</span>
            </li>
            <li class="cost-services__item">
               <span class="cost-services__item-name">Lorem ipsum dolo</span>
               <span class="cost-services__item-price">000</span>
            </li>
            <li class="cost-services__item">
               <span class="cost-services__item-name">Lorem ipsum dolo</span>
               <span class="cost-services__item-price">000</span>
            </li>
            <li class="cost-services__item">
               <span class="cost-services__item-name">Lorem ipsum dolo</span>
               <span class="cost-services__item-price">000</span>
            </li>
            <li class="cost-services__item">
               <span class="cost-services__item-name">Lorem ipsum dolo</span>
               <span class="cost-services__item-price">000</span>
            </li>
            <li class="cost-services__item">
               <span class="cost-services__item-name">Lorem ipsum dolo</span>
               <span class="cost-services__item-price">000</span>
            </li>
            <li class="cost-services__item">
               <span class="cost-services__item-name">Lorem ipsum dolo</span>
               <span class="cost-services__item-price">000</span>
            </li>
            <li class="cost-services__item">
               <span class="cost-services__item-name">Lorem ipsum dolo</span>
               <span class="cost-services__item-price">000</span>
            </li>
            <li class="cost-services__item">
               <span class="cost-services__item-name">Lorem ipsum dolo</span>
               <span class="cost-services__item-price">000</span>
            </li>
            <li class="cost-services__item">
               <span class="cost-services__item-name">Lorem ipsum dolo</span>
               <span class="cost-services__item-price">000</span>
            </li>
            <li class="cost-services__item">
               <span class="cost-services__item-name">Lorem ipsum dolo</span>
               <span class="cost-services__item-price">000</span>
            </li>
            <li class="cost-services__item">
               <span class="cost-services__item-name">Lorem ipsum dolo</span>
               <span class="cost-services__item-price">000</span>
            </li>
            <li class="cost-services__item">
               <span class="cost-services__item-name">Lorem ipsum dolo</span>
               <span class="cost-services__item-price">000</span>
            </li>
            <li class="cost-services__item">
               <span class="cost-services__item-name">Lorem ipsum dolo</span>
               <span class="cost-services__item-price">000</span>
            </li>
            <li class="cost-services__item">
               <span class="cost-services__item-name">Lorem ipsum dolo</span>
               <span class="cost-services__item-price">000</span>
            </li>
            <li class="cost-services__item">
               <span class="cost-services__item-name">Lorem ipsum dolo</span>
               <span class="cost-services__item-price">000</span>
            </li>
            <li class="cost-services__item">
               <span class="cost-services__item-name">Lorem ipsum dolo</span>
               <span class="cost-services__item-price">000</span>
            </li>
            <li class="cost-services__item">
               <span class="cost-services__item-name">Lorem ipsum dolo</span>
               <span class="cost-services__item-price">000</span>
            </li>
            <li class="cost-services__item">
               <span class="cost-services__item-name">Lorem ipsum dolo</span>
               <span class="cost-services__item-price">000</span>
            </li>
            <li class="cost-services__item">
               <span class="cost-services__item-name">Lorem ipsum dolo</span>
               <span class="cost-services__item-price">000</span>
            </li>
            <li class="cost-services__item">
               <span class="cost-services__item-name">Lorem ipsum dolo</span>
               <span class="cost-services__item-price">000</span>
            </li>
            <li class="cost-services__item">
               <span class="cost-services__item-name">Lorem ipsum dolo</span>
               <span class="cost-services__item-price">000</span>
            </li>
            <li class="cost-services__item">
               <span class="cost-services__item-name">Lorem ipsum dolo</span>
               <span class="cost-services__item-price">000</span>
            </li>
            <li class="cost-services__item">
               <span class="cost-services__item-name">Lorem ipsum dolo</span>
               <span class="cost-services__item-price">000</span>
            </li>
            <li class="cost-services__item">
               <span class="cost-services__item-name">Lorem ipsum dolo</span>
               <span class="cost-services__item-price">000</span>
            </li>
         </ul>
      </div>
   </div>
</div>