<div class="cost-services__box color-box mix service-1">
   <h5 class="cost-services__naming">Вакцинация и чипирование</h5>
   <p class="cost-services__text">Цены указаны в украинских гривнах за одну процедуру/сеанс для одного животного</p>
   <div class="cost-services__holder">
      <div class="cost-services__wrap">
         <h6 class="cost-services__nomenclature">Вакцинация собак импортной вакциной</h6>
         <ul class="cost-services__list">
            <li class="cost-services__item">
               <span class="cost-services__item-name">Нобивак Puppy (Нидерланды)</span>
               <span class="cost-services__item-price">1300</span>
            </li>
            <li class="cost-services__item">
               <span class="cost-services__item-name">Нобивак DHPPi+Lepto</span>
               <span class="cost-services__item-price">550</span>
            </li>
            <li class="cost-services__item">
               <span class="cost-services__item-name">Нобивак DHPPi+Lepto+Rabies</span>
               <span class="cost-services__item-price">800</span>
            </li>
            <li class="cost-services__item">
               <span class="cost-services__item-name">Гексадог DHPPi+Lepto+Rabies (Франция)</span>
               <span class="cost-services__item-price">680</span>
            </li>
            <li class="cost-services__item">
               <span class="cost-services__item-name">Эурикан DHPPi+Lepto</span>
               <span class="cost-services__item-price">400</span>
            </li>
            <li class="cost-services__item">
               <span class="cost-services__item-name">Эурикан DHPPi+Lepto+Rabies</span>
               <span class="cost-services__item-price">1100</span>
            </li>
            <li class="cost-services__item">
               <span class="cost-services__item-name">Вангард 5/L (США)</span>
               <span class="cost-services__item-price">900</span>
            </li>
            <li class="cost-services__item">
               <span class="cost-services__item-name">Вангард 5/L+Rabies</span>
               <span class="cost-services__item-price">550</span>
            </li>
            <li class="cost-services__item">
               <span class="cost-services__item-name">Вангард 7/L</span>
               <span class="cost-services__item-price">580</span>
            </li>
            <li class="cost-services__item">
               <span class="cost-services__item-name">Вангард 7/L+Rabies</span>
               <span class="cost-services__item-price">400</span>
            </li>
         </ul>
      </div>
      <div class="cost-services__wrap">
         <h6 class="cost-services__nomenclature">Вакцинация кошек импортной вакциной</h6>
         <ul class="cost-services__list">
            <li class="cost-services__item">
               <span class="cost-services__item-name">Нобивак Tricat (Нидерланды)</span>
               <span class="cost-services__item-price">1300</span>
            </li>
            <li class="cost-services__item">
               <span class="cost-services__item-name">Нобивак Tricat+Rabies</span>
               <span class="cost-services__item-price">550</span>
            </li>
            <li class="cost-services__item">
               <span class="cost-services__item-name">Фелиген CRP (Франция)</span>
               <span class="cost-services__item-price">800</span>
            </li>
            <li class="cost-services__item">
               <span class="cost-services__item-name">Фелиген CRP+Rabies</span>
               <span class="cost-services__item-price">680</span>
            </li>
            <li class="cost-services__item">
               <span class="cost-services__item-name">Пуревакс</span>
               <span class="cost-services__item-price">400</span>
            </li>
            <li class="cost-services__item">
               <span class="cost-services__item-name">Пуревакс+Rabies</span>
               <span class="cost-services__item-price">1100</span>
            </li>
            <li class="cost-services__item">
               <span class="cost-services__item-name">Пуревакс с хламидиозом</span>
               <span class="cost-services__item-price">900</span>
            </li>
            <li class="cost-services__item">
               <span class="cost-services__item-name">Пуревакс с хламидиозом +Rabies</span>
               <span class="cost-services__item-price">550</span>
            </li>
            <li class="cost-services__item">
               <span class="cost-services__item-name">Фелоцел-4 с хламидиозом (США)</span>
               <span class="cost-services__item-price">580</span>
            </li>
            <li class="cost-services__item">
               <span class="cost-services__item-name">Фелоцел-4 с хламидиозом +Rabies</span>
               <span class="cost-services__item-price">400</span>
            </li>
         </ul>
      </div>
      <div class="cost-services__wrap">
         <h6 class="cost-services__nomenclature">Отечественная вакцина (Украина)</h6>
         <ul class="cost-services__list">
            <li class="cost-services__item">
               <span class="cost-services__item-name">Мультифел-4 (для кошек)</span>
               <span class="cost-services__item-price">550</span>
            </li>
            <li class="cost-services__item">
               <span class="cost-services__item-name">Мультифел-4 + Rabies</span>
               <span class="cost-services__item-price">800</span>
            </li>
            <li class="cost-services__item">
               <span class="cost-services__item-name">Мультикан-8 (для собак)</span>
               <span class="cost-services__item-price">680</span>
            </li>
            <li class="cost-services__item">
               <span class="cost-services__item-name">Мультикан-8 (с бешенством)</span>
               <span class="cost-services__item-price">400</span>
            </li>
         </ul>
      </div>
      <div class="cost-services__wrap">
         <h6 class="cost-services__nomenclature">Вакцинация кроликов (миксоматоз + ВГБК)</h6>
         <ul class="cost-services__list">
            <li class="cost-services__item">
               <span class="cost-services__item-name">Ассоциированная вакцина (отечественная) —  1 раз в 6 месяцев</span>
               <span class="cost-services__item-price">580</span>
            </li>
            <li class="cost-services__item">
               <span class="cost-services__item-name">Нобивак (импортная) —  1 раз в год</span>
               <span class="cost-services__item-price">400</span>
            </li>
         </ul>
      </div>
      <div class="cost-services__wrap">
         <h6 class="cost-services__nomenclature">Вакцинация против дерматофитии</h6>
         <ul class="cost-services__list">
            <li class="cost-services__item">
               <span class="cost-services__item-name">Вакдерм</span>
               <span class="cost-services__item-price">400</span>
            </li>
            <li class="cost-services__item">
               <span class="cost-services__item-name">Вакдерм F</span>
               <span class="cost-services__item-price">900</span>
            </li>
            <li class="cost-services__item">
               <span class="cost-services__item-name">Микродерм</span>
               <span class="cost-services__item-price">550</span>
            </li>
         </ul>
      </div>
      <div class="cost-services__wrap">
         <ul class="cost-services__list">
            <li class="cost-services__item">
               <span class="cost-services__item-name">Пиродог от пироплазмоза для собак</span>
               <span class="cost-services__item-price">1100</span>
            </li>
            <li class="cost-services__item">
               <span class="cost-services__item-name">Импортная вакцина против бешенства</span>
               <span class="cost-services__item-price">900</span>
            </li>
            <li class="cost-services__item">
               <span class="cost-services__item-name">Глобкан-5 (пассивная иммунизация собак)</span>
               <span class="cost-services__item-price">550</span>
            </li>
            <li class="cost-services__item">
               <span class="cost-services__item-name">Глобфел-4 (пассивная иммунизация кошек)</span>
               <span class="cost-services__item-price">800</span>
            </li>
            <li class="cost-services__item">
               <span class="cost-services__item-name">Паспорт для собак, кошек</span>
               <span class="cost-services__item-price">800</span>
            </li>
            <li class="cost-services__item">
               <span class="cost-services__item-name">Паспорт для кроликов</span>
               <span class="cost-services__item-price">680</span>
            </li>
            <li class="cost-services__item">
               <span class="cost-services__item-name">Чипирование (с учетом чипа)+ выдача свидетельства + занесение в единую базу данных Animal-ID</span>
               <span class="cost-services__item-price">400</span>
            </li>
            <li class="cost-services__item">
               <span class="cost-services__item-name">Внесение данных в единую базу Animal-ID (без чипирования)</span>
               <span class="cost-services__item-price">400</span>
            </li>
         </ul>
      </div>
   </div>
</div>