.vet-center {
   background: url('../img/index/first-bg.png') right/auto no-repeat;
   background-color: $lightgreen;
   padding-top: 113px;
   height: 656px;
   position: relative;

   // &::after {
   //    position: absolute;
   //    content: '';
   //    top: 0;
   //    right: -100%;
   //    width: 100%;
   //    height: 656px;
   //    background-color: $lightgreen;
   //    z-index: 20;
   // }

   &__body {
      max-width: 712px;
      @include screen-xl {
         max-width: 610px;
         position: relative;
         &::after {
            position: absolute;
            content: '';
            top: -5%;
            left: -1%;
            width: 105%;
            height: 110%;
            backdrop-filter: blur(5px);
            border-radius: 6px;
            background-color: rgb(255, 255, 255, 0.4);
         }
      }
      @media (max-width: 660px) {
         max-width: 100%;
         &::after {
            left: -2.5%;
         }
      }
     
   }

   &__title {
      font-weight: 700;
      color: $color-text-1;
      @include adaptiveValue('font-size', 64, 26);
      @include adaptiveValue('line-height', 76, 36);
      position: relative;
      z-index: 1;
   }

   &__list {
      margin-top: 33px;
   }

   &__item {
      @include adaptiveValue('font-size', 20, 16);
      @include adaptiveValue('line-height', 36, 26);
      color: $color-text-1;
      padding-left: 20px;
      position: relative;
      z-index: 1;
      @include screen-xl {
         &:not(:first-child) {
            margin-top: 10px;
         }
      }
      &::before {
         position: absolute;
         content: '';
         top: 42%;
         left: 4px;
         width: 6px;
         height: 6px;
         background-color: $green;
      }
   }

   &__arrow {
      background-color: transparent;
      position: absolute;
      bottom: -37px;
   }
}
