&__info {
	margin-top: 46px;

	display: flex;
	gap: 40px;

	@include screen-l {
		flex-direction: column;
	}
}

&__container1 {
	max-width: 824px;
	width: 100%;
}

&__img {
}

&__descr {
	margin-top: 36px;

	@include adaptiveValue('font-size', 26, 18);
	font-family: 'Manrope';
	line-height: 36px;
	color: $color-text-1;
}

&__text {
	margin-top: 20px;
	font-size: 17px;
	font-family: 'Manrope';
	line-height: 28px;
	color: $color-text-1;
}

&__subtitle {
	margin-top: 44px;
	@include adaptiveValue('font-size', 30, 25);
	font-family: 'Manrope';
	font-weight: 700;
	line-height: 35px;
	color: $color-text-1;
}

&__list {
	margin-top: 22px;
	padding-left: 24px;

	@include screen-m {
		padding-left: 0;
	}
}

&__list-item {
	padding-left: 17px;
	font-size: 17px;
	font-family: 'Manrope';
	line-height: 28px;
	color: $color-text-1;

	position: relative;
	&::before {
		content: '';
		width: 11px;
		height: 1px;
		background: $color-text-1;
		position: absolute;
		top: 14px;
		left: 0;
	}
}

&__container2 {
	max-width: 218px;
	width: 100%;
	position: relative;

	@media (max-width: 475px) {
		max-width: 100%;
	}
}

&__wrapper {
	display: flex;
	flex-direction: column;
	gap: 16px;

	position: sticky;
	top: 15px;
}