&__price {
	margin-top: 65px;
	display: flex;
	gap: 40px;

	@include screen-l {
		flex-direction: column;
	}
}

&__price-text {
	margin-top: 36px;
	max-width: 536px;
	width: 100%;

	font-size: 26px;
	font-family: 'Manrope';
	line-height: 36px;
	color: $color-text-hover;

	@include screen-l {
		margin-top: 0;
		max-width: 100%;
	}
}