&__specialist {
  margin-top: 91px;
}

&__specialist-wrapper {
  display: flex;
  justify-content: space-between;

  @include screen-l {
    flex-direction: column;
    gap: 15px;
  }
}

&__specialist-title {
  @include adaptiveValue('font-size', 30, 25);
  font-family: 'Manrope';
  font-style: normal;
  font-weight: 700;
  line-height: 35px;
  color: $color-text-1;
}
