<div class="articles">
	<div class="articles__group">
		@@include('../patientHistoryCard.html', {"imgName":"pets15","mod":"big","title":"Обзор заболеваний некастрированных кобелей породы янокуисосто"})
		@@include('../patientHistoryCard.html', {"imgName":"pets16","mod":"big","title":"Большой животик. Что это может быть?"})
		@@include('../patientHistoryCard.html', {"imgName":"pets17","mod":"big","title":"Эзофагостома у собак и кошек — ответы на распространенные вопросы владельцев"})

		@@include('../patientHistoryCard.html', {"imgName":"pets18","mod":"small","title":"Черепаховый окрас у кошек: чудо природы или генетическая мутация?"})
		@@include('../patientHistoryCard.html', {"imgName":"pets12","mod":"small","title":"Хроническая диарея <br> или когда не прекращается понос"})
		@@include('../patientHistoryCard.html', {"imgName":"pets11","mod":"small","title":"Как корги сломала клык в погоне за дружбаном"})
		@@include('../patientHistoryCard.html', {"imgName":"pets14","mod":"small","title":"Острая почечная недостаточность <br> у пса Мопса"})

		@@include('../patientHistoryCard.html', {"imgName":"pets19","mod":"big","title":"Инородное тело в пищеводе собаки"})
		@@include('../patientHistoryCard.html', {"imgName":"pets20","mod":"big","title":"Билатеральный поликистоз почек у кошки Зинаиды"})
		@@include('../patientHistoryCard.html', {"imgName":"pets17","mod":"big","title":"Эзофагостома у собак и кошек — ответы на распространенные вопросы владельцев"})

		@@include('../patientHistoryCard.html', {"imgName":"pets4","mod":"small","title":"Новообразование мочевого пузыря <br> у хомяка Бориса"})
		@@include('../patientHistoryCard.html', {"imgName":"pets5","mod":"small","title":"Язвенный дерматит <br> у кота, отягощенный короновирусной инфекцией"})
		@@include('../patientHistoryCard.html', {"imgName":"pets6","mod":"small","title":"Отравление немытым виноградом у пекинеса Гремлина"})
		@@include('../patientHistoryCard.html', {"imgName":"pets7","mod":"small","title":"Культит, осложнённый бактериальным циститом"})
	</div>
</div>