<div class="history">
	<div class="history__group">
		@@include('../patientHistoryCard.html', {"imgName":"pets1","mod":"big","title":"Непростое лечение перелома нижней челюсти у кошки Маруськи"})
		@@include('../patientHistoryCard.html', {"imgName":"pets2","mod":"big","title":"Отравление немытым виноградом у пекинеса Гремлина"})
		@@include('../patientHistoryCard.html', {"imgName":"pets3","mod":"big","title":"Патологические роды и кесарево сечение у крысы Анфисы"})

		@@include('../patientHistoryCard.html', {"imgName":"pets4","mod":"small","title":"Новообразование мочевого пузыря <br> у хомяка Бориса"})
		@@include('../patientHistoryCard.html', {"imgName":"pets5","mod":"small","title":"Язвенный дерматит <br> у кота, отягощенный короновирусной инфекцией"})
		@@include('../patientHistoryCard.html', {"imgName":"pets6","mod":"small","title":"Отравление немытым виноградом у пекинеса Гремлина"})
		@@include('../patientHistoryCard.html', {"imgName":"pets7","mod":"small","title":"Культит, осложнённый бактериальным циститом"})

		@@include('../patientHistoryCard.html', {"imgName":"pets8","mod":"big","title":"Восьмидневные роды и кесарево сечение у Стрелки"})
		@@include('../patientHistoryCard.html', {"imgName":"pets9","mod":"big","title":"Острый панкреатит <br> у йоркширского терьера <br> Луи II Саксонского"})
		@@include('../patientHistoryCard.html', {"imgName":"pets10","mod":"big","title":"Доброе дело — история одного котёнка"})

		@@include('../patientHistoryCard.html', {"imgName":"pets11","mod":"small","title":"Как корги сломала клык в погоне за дружбаном"})
		@@include('../patientHistoryCard.html', {"imgName":"pets12","mod":"small","title":"Инородное тело <br> в пищеводе собаки"})
		@@include('../patientHistoryCard.html', {"imgName":"pets13","mod":"small","title":"Билатеральный поликистоз почек <br> у кошки Зинаиды"})
		@@include('../patientHistoryCard.html', {"imgName":"pets14","mod":"small","title":"Острая почечная недостаточность <br> у пса Мопса"})
	</div>
</div>